<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
        <title>Disease Frequency Analytics</title>
    </head>
    <body class="bg-gray-100  flex flex-col min-h-screen">
        
        {% include 'chicken_expert_app/navbar.html'%}
    
        <main class="flex-grow container mx-auto p-4">
            <div class="bg-white shadow-md rounded-lg p-6">
                <h1 class="text-3xl font-bold text-indigo-700 mb-6 text-center">Chicken Disease Frequency</h1>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    {% for disease, frequency in keyword_counter_dict.items %}
                        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
                            <h2 class="text-xl font-semibold text-gray-800">{{ disease }}</h2>
                            <p class="mt-2 text-gray-600">Frequency: {{ frequency }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    
        <footer class="bg-indigo-700 text-white text-center py-4 mt-auto">
            &copy; 2024 Chicken Health Expert System. All rights reserved.
        </footer>
    
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>