{% load static tailwind_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Chicken Expert System</title>
</head>
<body class="bg-gray-100  flex flex-col min-h-screen">
    {% include 'chicken_expert_app/navbar.html' %}

    <!-- Hero -->
    <section class="bg-indigo-800 py-20 mb-4">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center">
            <div class="text-center">
                <h1 class="text-4xl font-extrabold text-white sm:text-5xl md:text-6xl">Chicken Health Expert LLM System</h1>
                <p class="my-4 text-xl text-white">
                    Your comprehensive resource for all chicken-related queries, disease analytics and finding veterinary clinics near you.
                </p>
                <a href="{% url 'about' %}" class="inline-block bg-black text-white rounded-lg px-4 py-2 hover:bg-gray-700 mt-4">Learn More</a>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="py-4">
        <div class="container-xl lg:container m-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 rounded-lg">
                <div class="bg-indigo-100 p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold">Expert LLM system</h2>
                    <p class="mt-2 mb-4">
                        Utilize expert LLM to get answers to your chicken-related questions, improving health and productivity on your farm.
                    </p>
                    <a href="{% url 'expert_llm' %}" class="inline-block bg-indigo-500 text-white rounded-lg px-4 py-2 hover:bg-gray-700">Expert LLM</a>
                </div>
                <div class="bg-indigo-100 p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold">Disease Frequency Analytics</h2>
                    <p class="mt-2 mb-4">
                        Access comprehensive analytics on chicken disease frequencies across different regions. This tool helps vets track disease trends and identify hotspots for better management and response.
                    </p>
                    <a href="{% url 'disease_frequency' %}" class="inline-block bg-indigo-500 text-white rounded-lg px-4 py-2 hover:bg-indigo-600">Disease Frequency Analytics</a>
                </div>
                <div class="bg-indigo-100 p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold">Find Vet</h2>
                    <p class="mt-2 mb-4">
                        Input your location and see all veterinary offices near you for further inquiries.
                    </p>
                    <a href="{% url 'find_vet' %}" class="inline-block bg-indigo-500 text-white rounded-lg px-4 py-2 hover:bg-indigo-600">Find Vet</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-indigo-700 text-white text-center py-4 mt-auto">
        &copy; 2024 Chicken Health Expert System. All rights reserved.
    </footer>

</body>
</html>
