{% load static tailwind_tags %}
<nav class="bg-indigo-800 border-b border-indigo-500">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="flex h-20 items-center justify-between">
            <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
                <!-- Logo -->
                <a class="flex flex-shrink-0 items-center mr-4" href="{% url 'home' %}">
                    <img class="h-12 w-auto" src="{% static 'images/logo.png' %}" alt="Chicken Expert System Logo" style="max-height: 50px; max-width: 200px;" />
                    <span class="hidden md:block text-white text-2xl font-bold ml-2">Farm Vet</span>
                </a>
        
                <div class="md:ml-auto">
                    <div class="flex space-x-2">
                        <a href="{% url 'home' %}" class="text-white bg-black hover:bg-gray-900 hover:text-white rounded-md px-3 py-2">Home</a>
                        <a href="{% url 'expert_llm' %}" class="text-white hover:bg-gray-900 hover:text-white rounded-md px-3 py-2">Expert LLM</a>
                        <a href="{% url 'find_vet' %}" class="text-white hover:bg-gray-900 hover:text-white rounded-md px-3 py-2">Find Vet</a>
                        <a href="{% url 'disease_frequency' %}" class="text-white hover:bg-gray-900 hover:text-white rounded-md px-3 py-2">Disease Analytics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
