<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Health Expert</title>
</head>
<body>
    <h1>Chicken Health Expert System</h1>
    <form action="" method="post">
        {%csrf_token %}
        <label for="user_query"> Enter your Question: </label><br>
        <input type="text" id="user_query" name="user_query"><br><br>
        <input type="submit" value="Submit">
    </form>

    {% if response %}
        <h2>Response:</h2>
        <p>{{ response }}</p>
    {% endif %}
</body>
</html> -->